.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  input {
    width: 100%;
    height: 2.5em;
    border: 1px solid #7a6b88;
    border-radius: 1em;
    padding-inline: 1em;
  }
  select {
    width: 72%;
    height: 2.5em;
    border-radius: .5em;
    border: none;
  }
}