.hotelDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  img {
    height: 100px;
    width: 100px;
    border: 1px solid #7a6b88;
    border-radius: 0.5em;
  }
}
