.hotelDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1em;
      gap: 5em;

      button {
        border: 2px solid #7a6b88;
        color: #7a6b88;
      }
      button {
        color: #7a6b88;
      }
    }
  img {
    height: 100px;
    width: 100px;
    border: 1px solid #7a6b88;
    border-radius: 0.5em;
  }
}
