body {
  background: #dbcce9;
  margin: 0;
  padding: 0;
}

.mainOfQRCodeScanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  
  .selecte_party {
    width: 18%;
  }

  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
  }

  select {
    width: 100%;
    height: 2.5em;
    border-radius: 0.5em;
    border: none;
  }

  .logo {
    padding: 1em;
  }

  img {
    height: 100px;
    width: 100px;
    border: 1px solid #7a6b88;
    background: #ede9f1;
    border-radius: 0.5em;
  }

  h1 {
    padding: 1em;
    font-size: larger;
    font-weight: bolder;
  }

  .scanCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    border: 1px solid #7a6b88;
    padding: 2em;
    margin-top: 1em;
    width: 350px;
    max-width: 90vw;
    border-radius: 10px;
    background: #7a6b88;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;

    svg {
      color: #fff;
      font-size: 5em;
    }
    button {
      background: #dbcce9;
    }
    button:hover {
      background: #7a6b88;
      color: #fff;
    }
  }

  video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1em;
  }

  button {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #dbcce9;
    color: #000;
    border: 1px solid #000;
    a {
      color: #000;
    }
  }

  a {
    color: #000;
    text-decoration: underline;
  }

  p {
    color: #fff;
  }

  .error {
    color: red;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;

  &.dragging {
    border-color: #000;
    background-color: #f6fff6;
  }
}

.successfully {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.info-table {
  border-collapse: collapse;
  width: 350px;
  background-color: #f1f1ef;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  th,
  td {
    border: 1px solid #bcbcbc;
    padding: 8px 12px;
    text-align: left;
    font-size: 15px;
  }

  th {
    background-color: #e2e2df;
    font-weight: bold;
    width: 150px;
  }
}
